<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="zoho.app.test.DataProvider"/>
      <class name="zoho.app.test.HomepageTest"/>
      <class name="zoho.app.test.Testcount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
